---
import SocialHeader from "../components/SocialHeader.astro";
import SocialLinks from "../components/SocialLinks.astro";

const links = [
  ["GitHub", "#"],
  ["Frontend Mentor", "#"],
  ["LinkedIn", "#"],
  ["Twitter", "#"],
  ["Instagram", "#"],
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Social links profile</title>
  </head>
  <body>
    <main>
      <SocialHeader />
      <SocialLinks links={links} />
    </main>
  </body>
</html>

<style lang="scss">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: hsl(0, 0%, 8%);
    display: grid;
    place-items: center;
    min-height: 100dvh;
    main {
      background: hsl(0, 0%, 20%);
      margin: 1rem;
      padding: 1rem;
      border-radius: 0.75rem;
      width: min(calc(100dvw - 2.6rem), 500px);
    }
  }
</style>
